{% extends 'base.html' %}
{% load static %}

{% block title %}
{{find_user.first_name}} {{find_user.last_name}} | Family Organiser
{% endblock %}

{% block content %}

<!-- Users bio information -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ find_user.first_name }} {{ find_user.last_name }}'s Bio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ user_profile.bio }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>


<div id="page-top"></div>
<img src="{{ MEDIA_URL }}svg/add_data_background.svg" class="profile-background-image"></img>
<img src="{{ MEDIA_URL }}svg/add_data_background_light.svg" class="profile-background-image-light"></img>

<div class="profile-bio-form-container">
    <!-- profile and notifications section -->
    <div class="row m-0 p-0">

        <div class="col-12 m-0 px-2 pt-2">
            <p class="m-0 p-0 text-right">Profile</p>
        </div>
    </div>
    <div class="row m-0 p-0 pt-3 profile-info-height">
        <div class="col-9 m-0 p-0 pl-3 profile-details-container">
            {% if user_profile.profile_image %}
            <img src="{{ MEDIA_URL }}{{user_profile.profile_image}}" class="profile-image">
            {% else %}
            <img src="{{ MEDIA_URL }}user-image.png" class="profile-image">
            {% endif %}
            <h5>{{ find_user.first_name }}</h5>
            <h5>{{ find_user.last_name }}</h5>
            <p>{{ user_profile.bio | truncatechars:35 }}
                {% if bio_length > 35 %}
                <span id="view-all-bio" class="float-right" data-toggle="modal" data-target="#exampleModal"><b>View
                        All</b></span>
                {% endif %}
            </p>
            <a href="/user/settings">+</a>
        </div>
        <div class="col-3 m-0 p-0 pb-2 d-flex justify-content-center justify-content-md-end align-items-end">
            <a href="/user/family/{{ find_user.id }}" class="m-0 mr-md-5">
                <h3 class="text-center text-dark">{{ friend_count }}</h3>
                <h6 class="text-dark">Family</h6>
            </a>
        </div>
    </div>

    <!-- users shopping list and status -->
    <div class="profile-page-container profile-view-page-container">
        <h5 class="ml-3 pt-3">Status</h5>
        <hr class="status-divider">
        {% include "includes/status.html" %}

    </div>
</div>



    {% endblock %}

    {% block extra_css %}
    <script src="https://kit.fontawesome.com/d4ed0579d0.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/forms.js' %}"></script>
    <script>
        // Add status form 
        $(document).on('click', '#add-status-form', function () {
            $('#add-data-form-container').html(`
            <form action="/status/update_status/add/0" method="POST" enctype="multipart/form-data" class="p-3 pt-4" id="status-form">
            {% csrf_token %}
                <label>Title</label>
                <input type="text" name="title" class="form-control" id="form-title">
                <label>Post</label>
                <input type="text" name="content" class="form-control" id="form-content">
                <label class="d-block">Image</label>
                <input type="file" name="image" id="form-file">
                <div id="error-container" class="mt-1"></div>
            </form>
        `);
            gsap.to('#send-button', 0.6, { transform: 'translate(0, 0)' })
        });

        // Add item form 
        $(document).on('click', '#add-item-form', function () {
            $('#add-data-form-container').html(`
            <form action="/shopping/update_item/add" method="POST" class="p-3 pt-4" id="item-form">
            {% csrf_token %}
                <label>Item</label>
                <input type="text" name="item" class="form-control" id="form-item">
                <label>Quantity</label>
                <input type="number" name="quantity" class="form-control" id="form-quantity">
                <label>Category</label>
                <div class="row m-0 p-0">
                    <div class="col-8 m-0 p-0 pr-3">
                        <select name="category" class="form-control" id="form-category">
                            {% for category in item_categories %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 m-0 p-0">
                        <a class="btn btn-success container-fluid" href="/shopping/shopping_page">
                            Add Category
                        </a>
                    </div>  
                </div>
                <div id="error-container" class="mt-1"></div>
            </form>
        `);
            gsap.to('#send-button', 0.6, { transform: 'translate(0, 0)' })
        });

    </script>

    {% endblock %}